@each $transition in $dd-transitions {
  @include dd-transition(nth($transition, 1), nth($transition, 2));
}

.grow-from-top-enter,
.grow-from-top-leave.grow-from-top-leave-active {
  transform: scaleY(0);
  transform-origin: 0 0;
}

.grow-from-top-enter.grow-from-top-enter-active,
.grow-from-top-leave {
  transition: transform $dd-transition-time ease;
  transform: scaleY(1);
}
