@mixin dd-transition($dir, $origin, $scale) {
  .grow-from-#{$dir}-enter,
  .grow-from-#{$dir}-leave.grow-from-#{$dir}-leave-active {
    transform: unquote($scale + '(0)');
    transform-origin: unquote($origin);
  }

  .grow-from-#{$dir}-enter.grow-from-#{$dir}-enter-active,
  .grow-from-#{$dir}-leave {
    transform: unquote($scale + '(1)');
    transition: transform $dd-transition-time $dd-transition-out;
  }
}
