$dd-menu-z-index: 7 !default;
$dd-menu-item-padding: 1em 1.5em !default;

$dd-font: 'Roboto', sans-serif !default;

$dd-text-color: #000 !default;
$dd-inverse-text-color: #fff !default;
$dd-list-hover-text-color: #000 !default;
$dd-inverse-list-hover-text-color: #fff !default;

$dd-list-color: #fefefe !default;
$dd-inverse-list-color: #2c3e50 !default; // midnight blue

$dd-list-hover-color: #f5f5f5 !default;
$dd-inverse-list-hover-color: #34495e !default; // wet-asphalt

$dd-menu-box-shadow: 0 0 4px rgba(0, 0, 0, .15), 0 2px 4px rgba(0, 0, 0, .29) !default;

$dd-transition-time: .15s !default;
$dd-transition-in: cubic-bezier(.5, 1.8, .9, .8) !default;
$dd-transition-out: ease-out !default;
$dd-transitions: (
  ('top' '0 0' 'scaleY')
  ('left' '0 0' 'scale')
  ('right' '100% 0' 'scale')
  ('center' '50% 0' 'scale')
  ('up-left' '0 100%' 'scale')
  ('up-center' '50% 100%' 'scale')
  ('up-right' '100% 100%' 'scale')
) !default;

$dd-separator-height: 1px !default;
$dd-separator-color: lighten(#000, 88%) !default;
$dd-inverse-separator-color: darken(#fff, 88%) !default;
$dd-separator-padding: .5em 0 !default;
